@charset "UTF-8";

/* ----------------------------------------------------------
  Default style
---------------------------------------------------------- */

body {
    box-sizing: border-box;
    margin: auto;
    padding: 0 1em 1em;
    max-width: 650px;
}

/* ----------------------------------------------------------
  Helpers
---------------------------------------------------------- */

.script-visible {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #CCC;
    overflow: auto;
    font-family: monospace;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: #333;
    background-color: #F0F0F0;
}

/* ----------------------------------------------------------
  Range
---------------------------------------------------------- */

body [data-vanilla-jsu-range] {
    margin-bottom: 40px;
}

body [data-vanilla-jsu-range] input[data-range-type] {
    z-index: 1;
    position: absolute;
    top: 2em;
}

[data-vanilla-jsu-range] [data-range-type="min"] {
    left: 0;
}

[data-vanilla-jsu-range] [data-range-type="max"] {
    right: 0;
}
