@charset "UTF-8";

/* ----------------------------------------------------------
  Wrapper
---------------------------------------------------------- */

[data-vanilla-jsu-range] {
    z-index: 1;
    position: relative;
    height: 1em;
    padding: 0 0.5em;
    background-color: #F0F0F0;
}

[data-vanilla-jsu-range] [data-inner] {
    z-index: 1;
    position: relative;
    height: 100%;
    background-color: #F0F0F0;
    pointer-events: none;
}

/* ----------------------------------------------------------
  Track
---------------------------------------------------------- */

[data-vanilla-jsu-range] [data-track] {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #CCC;
}

/* ----------------------------------------------------------
  Thumb
---------------------------------------------------------- */

[data-vanilla-jsu-range] [data-thumb] {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    background-color: #369;
    transform: translateX(-50%);
    pointer-events: initial;
}

[data-vanilla-jsu-range] [data-thumb="2"] {
    left: 100%;
    background-color: #36F;
}
